In [0]:
#Import files module
import csv
import re                     ##Regular expressions
import glob
import os
import logging
import datetime
import statsmodels.api as sm
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from math import sqrt
from numpy import concatenate

from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from pandas import Series
from statsmodels.tsa.arima_model import ARIMA                     ## ARIMA MODULE
import warnings
from pandas import datetime
from sklearn.metrics import mean_squared_error
import numpy

In [0]:
import pandas as pd
import numpy as np

In [0]:
#logging mechanism for debugging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
data = pd.read_csv("Route251.csv")

In [0]:
data

     Timeslot  Trips  Passengers
0           4      2          34
1           5      5         152
2           6      6         231
3           7      5         441
4           8      6         567
..        ...    ...         ...
611        21      5         389
612        22      4         256
613        23      5         113
614         0      2          79
615         1      0          25

[616 rows x 3 columns]

In [0]:
#Making separate dataframes for each separate timeslot over many days
df1=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df2=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df3=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df4=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df5=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df6=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df7=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df8=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df9=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df10=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df11=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df12=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df13=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df14=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df15=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df16=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df17=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df18=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df19=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df20=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])
df21=pd.DataFrame(columns=['Timeslot','Trips','Passengers'])

df=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21]

In [0]:
Timeslot_values= ['4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','0','1']
Days = {'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [0]:
import datetime
now = datetime.datetime.now()   
current_day = now.day
current_dow = Days[now.strftime("%A")]

In [0]:
arr = data.Timeslot.unique()

In [0]:
from statsmodels.tsa.arima_model import ARIMA

In [0]:
trips = []
for i in arr :
  df = data.loc[data['Timeslot'] == i]
  dataset = df.drop(['Timeslot','Passengers'],axis = 1)
  dataset = dataset.to_numpy().flatten()
  model = ARIMA(dataset, order=(1,0,0))
  model_fit = model.fit(disp=1)
  forecast = model_fit.forecast(steps=1)[0]
  trips.append(forecast[0].round(0))

In [0]:
trips

[2.0,
 4.0,
 5.0,
 5.0,
 6.0,
 7.0,
 6.0,
 6.0,
 4.0,
 5.0,
 4.0,
 5.0,
 4.0,
 5.0,
 4.0,
 5.0,
 4.0,
 4.0,
 4.0,
 4.0,
 3.0,
 2.0]